.item_in_cart_wrapper{
    display:grid;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-columns: 1fr 3fr 1fr;
    position: relative;
}

.item_in_cart_title{
    display: -webkit-box;
    overflow: hidden;
    white-space: pre-wrap;
    padding-left: 10px;
}

.item_in_cart_imgUrl{
    width: 100%;
}

p{
    padding-left: 10px;
    color: #8a8a93;
}
